*{
    padding: 0;
    margin: 0;
}
body{
    font-family: Lato;
}
.bennar-container{
    display: flex;
    align-items:center;
    background: rgba(229, 84, 115, 0.10);
    padding: 50px 240px 0px 240px;
} 
.bennar-title{
    color: #272727;
    font-size: 80px;
     font-weight: 800;
     margin-bottom: 0;
}
.bennar-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin:32px 0px;
}
.btn-primary{
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
     font-size: 20px;
     font-weight: 700;
     padding: 20px 43px; 
     border: 0;
     

}
.bennar-profile{
    width: 635px;
    height: 800px;
}
 /* main reletive style */
 .flowers-container{
    text-align: center;
 }
 .flower-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-top: 178px; 
 }
 .flower-description{
    color: rgba(39, 39, 39, 0.60);
     font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 24px 0px 48px 0px;
 }
 .images-container{
    display: flex;
    margin: 0px 240px 0px 240px;
    gap: 24px;
 }
 .img-capttion{
    padding-top: 32px;
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
 }
 .img-primary1{
    width: 310px;
    height: 428px;
    padding: 110px 78px 0px 76px;
 }
 .img-primary2{
    width: 370px;
    height: 370px;
    padding: 117px 47px 51px 47px;
 }
 .img-primary3{
    width: 314px;
    height: 471px;
    padding: 67px 75px 0px 75px;
 }
 .img1{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
 }
 .img2{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
 }
 .img3{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
1x

 }
.hot-container{
    display: flex;
    justify-content: space-around;
    align-items:center;
    gap: 215px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin: 128px 0px 128px 0px;
    padding: 100px 400px ;
    }
.hot-contain{
   text-align: center;
}
.hot-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    
}
.hot-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center; 
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 24px 0px 32px 0px;
}
.hot-flower{
    width: 318px;
    height: 420px;
}

/* instagram reletive style */
 .instagram-container{
margin: 128px 240px;
 }
 .instagram-contain{
text-align: center;
 }
 .instagram-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
 }
 .instagram-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 24px 0px ;
 }
 /* images reletive style */
 .images{
display: flex;
 gap:24px;
 }
 .img-primary{
    width: 342px;
    height: 396px;
 }
 /* Get The Latest Deals */
 .Deals-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:url("./img/Rectangle\ 9.png");
    background-repeat: no-repeat;
    width: 1440px;
    height: 449px;
    margin-top: 128px;
  }
 .title-deals{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    text-align: center;

 }
 .deals-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    line-height: 30px;
    padding: 16px 0px 48px 0px;
 }
 .email{
    width: 700px;
    height: 64px;
 }
 /* footer relerttive style */
 .footer-container{
   display: flex;
   justify-content: center;
   align-items: center;
   background: #111010;
   color: #FFF; 
   padding: 128px 0px  128px  0px;
 }
 .shop-title{
    color:wheat
    font-size: 48px;
    font-weight: 800;
    text-align: center;
 }
 .color-primary{
     color: #E55473;
 }
 .shop-description{
   color: rgba(255, 255, 255, 0.90);
   font-size: 18px;
   text-align: center;
   font-weight: 400;
   line-height: 30px;
   padding: 24px 0px 24px 0px;
 }
 .hovertext {
   position: relative;
 }
 
 .hovertext:before {
   content: attr(data-hover);
   visibility: hidden;
   opacity: 0;
   width: 140px;
   background-color:blue;
   color: #fff;
   text-align: center;
   border-radius: 5px;
   padding: 5px 0;
   transition: opacity 1s ease-in-out;
 
   position: absolute;
   z-index: 1;
   left: 0;
   top: 110%;
 }
 
 .hovertext:hover:before {
   opacity: 1;
   visibility: visible;
 }
 .footer-end{
   text-align: center;
 }
 
 